/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 8px;
}
h3 {
  font-size: 3.2rem;
  padding-bottom: 9px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body {
  border: 1px solid gray;
}
.nav {
  display: flex;
  text-emphasis: bold;
}
.nav a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  background: darkblue;
  font-size: 28px;
  border: none;
  cursor: grabbing;
  padding: 5px;
  margin: 4px;
  word-spacing: 20px;
}
body {
  background: url(https://images.unsplash.com/photo-1533042789716-e9a9c97cf4ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
  width: 100%;
  opacity: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body header {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: darkblue;
  justify-content: center;
}
body header .name {
  display: flex;
  color: white;
  font-size: large;
  letter-spacing: 2.5px;
  margin: 0 2px;
}
body header .login {
  display: flex;
  text-emphasis: bold;
  text-decoration: none;
}
body header .login button {
  display: flex;
  color: white;
  background: darkblue;
  font-size: 28px;
  border: none;
  cursor: grabbing;
  letter-spacing: 2px;
}
body .top-main {
  display: flex;
  width: 80%;
  padding: 20px;
  margin: 15px 20px;
  justify-content: center;
}
body .top-main .top-content {
  justify-content: center;
  color: white;
  text-align: center;
  text-emphasis: bold;
  text-decoration: none;
}
body .top-main .top-content h2 {
  font-size: 20px;
  color: darkblue;
}
body .top-main .top-content p {
  font-size: 40px;
}
body .top-main .top-content button {
  color: darkblue;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
  margin-bottom: 10px;
}
body .all {
  display: flex;
  width: 80%;
  padding: 20px;
  margin: 15px 20px;
  justify-content: center;
}
body .all .center-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}
body .all .center-info .access {
  text-align: center;
  display: flex;
  flex-direction: column;
}
body .all .center-info .access h2 {
  font-size: 20px;
  color: #050518;
}
body .all .center-info .access p {
  color: #050518;
  font-size: 40px;
}
body .all .center-info .healthy {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .all .center-info .healthy h2 {
  font-size: 20px;
  color: #050518;
}
body .all .center-info .healthy p {
  color: #050518;
  font-size: 40px;
}
body .all .center-info .staff {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .all .center-info .staff h2 {
  font-size: 20px;
  color: #050518;
}
body .all .center-info .staff p {
  color: #050518;
  font-size: 40px;
}
body .banner {
  display: flex;
  width: 70%;
  justify-content: center;
}
body .banner .bannerbtm {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  background: darkblue;
}
body .banner .bannerbtm button {
  border: none;
  background-color: darkblue;
  color: white;
  justify-content: center;
}
.all {
  display: flex;
  width: 60%;
  margin: 15px 20px;
  align-content: center;
}
.all header {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: darkblue;
  justify-content: center;
}
.all header .name {
  display: flex;
  color: white;
  font-size: large;
  letter-spacing: 2.5px;
  margin: 0 2px;
}
.all header .login {
  display: flex;
  text-emphasis: bold;
  text-decoration: none;
}
.all header .login button {
  display: flex;
  color: white;
  background: darkblue;
  font-size: 28px;
  border: none;
  cursor: grabbing;
  letter-spacing: 2px;
}
.btm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 20%;
}
.btm body {
  display: flex;
  width: 60%;
  justify-content: center;
}
.btm body .main1 {
  display: flex;
  flex-direction: column;
}
.btm body .main1 .background {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: auto;
}
.btm body .main1 .background h2 {
  display: flex;
  color: #050518;
}
.btm body .main1 .background p {
  display: flex;
  color: #050518;
}
.btm body .main1 .how {
  display: flex;
  width: 70%;
  flex-direction: column;
}
.btm body .main1 .how h2 {
  display: flex;
  color: #050518;
}
.btm body .main1 .how p {
  display: flex;
  color: #050518;
}
.btm body .main1 .bannerbtm {
  display: flex;
  background: darkblue;
  justify-content: center;
  margin: 4px 20%;
}
.btm body .main1 .bannerbtm button {
  background-color: darkblue;
  color: white;
  border: none;
  justify-content: center;
}
.w3-display-container {
  display: flex;
  flex-direction: row;
}
.w3-display-container .w3-card1 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
  padding: 4px;
}
.w3-display-container .w3-card2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.w3-display-container .w3-card3 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.w3-display-container .w3-card4 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.w3-display-container .w3-card5 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.w3-display-container .w3-card6 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
.w3-display-container .w3-card7 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blanchedalmond;
}
