.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: darkblue;
    justify-content: center;
    margin: 4px 3px;
    margin: 0 10px;
    .name {
        display: flex;
        color: white;
        font-size: large;
        width: 30%;
        letter-spacing: 2.5px;
        margin: 0 2px;
    }//closes name
    .login {
        display: flex;
        text-emphasis: bold;
        text-decoration: none;
        width: 30%;
        button {
            display: flex;
            color: white;
            background: darkblue;
            font-size: 28px;
            border: none;
            cursor: grabbing;
            letter-spacing: 2px;
        }//closes button
    }//closes login
}//closes header
body {
    .bannerbtm {
        display: flex;
        flex-direction: row;
        width: 100%;
        button {
            background-color: darkblue;
            color: white;
        }//button
    }//bannerbtm
}