.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: darkblue;
    justify-content: center;
    margin: 4px 3px;
    margin: 0 10px;
    .name {
        display: flex;
        color: white;
        font-size: large;
        width: 30%;
        letter-spacing: 2.5px;
        margin: 0 2px;
    }
    .login {
        display: flex;
        text-emphasis: bold;
        text-decoration: none;
        width: 30%;
        button {
            display: flex;
            color: white;
            background: darkblue;
            font-size: 28px;
            border: none;
            cursor: grabbing;
            letter-spacing: 2px;
        }
    }
}
body{
    background: url(https://images.unsplash.com/photo-1533042789716-e9a9c97cf4ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .top-main {
        display: flex;
        flex-direction: column;
        .top-content {
            color: white;
            text-emphasis: bold;
            text-decoration: none;
        }
    }
}