.nav {
    display: flex;
    text-emphasis: bold;
    width: 40%;
    a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: white;
        background: darkblue;
        font-size: 28px;
        border: none;
        cursor: grabbing;
        word-spacing:6%;
        padding: 4px;
        margin: 4px 10px;
    }
}